.button{
  @extend %font-add;
  @include font(2rem, 400, 4rem);
  text-align: center;
  width: 220px;
  height: 55px;
  cursor: pointer
  //color:$color-background;
  //background-color: $color-brand;
}

.button__base{
  color:$color-background;
  background-color: $color-brand;
  border:0;
  &:hover{
    color:$color-white;
    @extend %transition;
  }
}

.button__portfolio{
  border: 2px solid $color-brand;
  background-color: transparent;
  color: $color-brand;
  &:hover{
    color:$color-white;
    @extend %transition;
  }
}

.button__portfolio.active{
  color: #000;
  background-color: #bdae82;
}


