@mixin font ($size, $weight, $height, $style:normal){
  font-size:$size;
  font-weight: $weight;
  line-height: $height;
  font-style: $style;
}

@mixin columns ($width){
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  >* {
    flex-basis: $width;
  }
}

@mixin media-laptop{
  @media (max-width: $content-width) {@content;}
}

@mixin media-tablet{
  @media (max-width: $tablet-width) {@content;}
}

@mixin mobile-big-width {
  @media (max-width: $mobile-big-width) {@content}
}

@mixin mobile-small-width{
  @media (max-width: $mobile-small-width) {@content;}
}

@mixin mobile-fix{
  @media (max-width: $mobile-fix-width) {@content;}
}

@mixin fix{
  @media (max-width: $fix) {@content;}
}