.contacts__wrapper{
  background-size: auto 700px;
  background: url('../assets/img/contacts.png') no-repeat center center;
}
.contact-me{
  margin:0;
  text-align: left;
  padding-bottom: 41px;
}

.contact__container{
  padding-top: 60px;
  padding-bottom: 195px;
  input, textarea{
    border:2px solid $color-brand;
    background: rgba($color-background, 0.7);
    padding: 5px 20px;
    color:$color-white;
    width: 32%;
    height: 50px;
    margin-bottom: 20px;
    &:focus{
      outline: 1px solid $color-brand;
    }

  }
  textarea{
    resize: none;
    height: 100px;
    padding: 13px 20px;
    margin-bottom: 30px;

  }
}

.inputs::placeholder {
  font-family: inherit;
  color: #bdae82;
  font-size: 20px;
}
