.hero__wrapper{
    background-image: url('../assets/img/bg.png');
    background-position: center -90px;
    background-repeat: no-repeat;
    padding-top: 160px;
    padding-bottom: 330px;
}
.hero__content{
    padding-left: 60px;
    max-width: 530px;
}
