.price__item{
  border: 3px solid $color-brand;

  //display:flex;
  //flex-wrap: wrap;
  //flex-direction: column;
  //align-content: center;
}

.button__order{
  display: block;
  margin: 40px auto 43px;

}