
.skills__4columns{
  @include columns(21%);
}

.button__column{
  display: flex;
  justify-items: center;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;

}

.photo-library{
  @include columns(30%);
  gap:20px;
}
