.footer__wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}

.year{
  display: flex;
}

.footer__navigation{
  display: flex;
}

.footer__link, .footer__text{
  list-style: none;
  padding-right: 20px;
  &:last-child{
    padding: 0;
  }
}

.footer__github{
  line-height: 1.15;
}
.footer__link:hover{
  @extend %transition;
}