
.skills__4columns{
  @include columns(20%);
  @include media-tablet{
    @include columns(46%);
    gap: 36px;
  }

}

.button__column{
  display: flex;
  justify-items: center;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: center;

}

.photo-library{
  @include columns(30%);
  gap:20px;
  @include media-tablet{
    justify-content: center;
    gap:25px;
  }
}

.price__columns{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  padding-bottom: 100px;
  >*{
  flex-basis: 450px;
  }
  @include media-tablet{
  gap: 45px;
    padding-bottom: 80px;
    >*{
      flex-basis: 420px;
    }
  }
}

.columns__form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-end;
  @include media-tablet{
    align-items: center;
    align-content: center;
  }
}
