.header__wrapper{
  display:flex;
  align-items: center;
  justify-content: space-between;
  background: url('../../../assets/img/bg.png') no-repeat center 0;
  @include media-tablet{
    padding-top: 20px;
    padding-bottom: 20px;
    background-position: -5px -30px;
    background-size: auto 620px;
  }

}

.header__navigation{
  margin-left: auto;
  @include media-tablet {
    display: none;
  }
}

.header__list{
  display: flex;
  align-items: center;
  margin:0;
}

.navigation__link{
  list-style: none;
  padding: 20px 30px 20px 0;
}

.logo{
  background-image: url('../../../assets/svg/logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 50px;
  @extend %transition;
}
.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
  contrast(87%);
}

.language:hover{
  @extend %transition;
  color:$color-brand;
}

.header__language{
  @include font(2rem,700, 5rem);
  @include media-tablet{
    margin-left: auto;
    margin-right: 20px;
  }
}


.switch__language{
  display: none;
}
